Repository krckyboy/todorovic: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.css": ["stylelint --fix"],
  "*.{js,ts,jsx,tsx,astro}": ["eslint --fix"],
  "*.{js,ts,jsx,tsx,astro,css,json,md}": ["prettier --write"]
}

Add existing blog posts for burnout and conferences
  src/content/blog/burnout-in-software-engineering.md
  src/content/blog/unlocking-opportunities-why-conferences-matter.md
Due: prettier --write

Implement comprehensive design system update
  src/components/AuthorCard.astro
  src/components/AuthorCard.module.css
  src/components/BlogPostItem.module.css
  src/components/Categories.module.css
  src/components/Experience.module.css
  src/components/FeaturedPosts.module.css
  src/components/Footer.module.css
  src/components/Header.module.css
  src/components/Hero.astro
  src/components/Hero.module.css
  src/components/Navigation.module.css
  src/components/Skills.module.css
  src/components/SocialIcons.module.css
  src/layouts/BaseLayout.astro
  src/pages/about.astro
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/skills.astro
  src/styles/global.css
Due: stylelint --fix, eslint --fix, prettier --write

Add Pagefind search functionality
  astro.config.mjs
  package-lock.json
  package.json
  src/components/Header.astro
  src/components/Header.module.css
  src/components/SearchBar.astro
  src/components/SearchBar.module.css
Due: stylelint --fix, eslint --fix, prettier --write

Refactor SearchBar to module structure
  src/components/Header.astro
  src/components/SearchBar.astro
  src/components/SearchBar.module.css
  src/modules/search/SearchBar.astro
  src/modules/search/components/SearchButton.astro
  src/modules/search/components/SearchButton.module.css
  src/modules/search/components/SearchInput.astro
  src/modules/search/components/SearchInput.module.css
  src/modules/search/components/SearchModal.astro
  src/modules/search/components/SearchModal.module.css
  src/modules/search/components/SearchResults.astro
  src/modules/search/components/SearchResults.module.css
  src/modules/search/services/pagefindService.ts
  src/modules/search/types.ts
Due: stylelint --fix, eslint --fix, prettier --write

Rewrite SearchBar as React component and fix UI issues
  .gitignore
  .prettierrc
  package-lock.json
  package.json
  src/components/Header.astro
  src/components/Header.module.css
  src/components/Hero.astro
  src/components/ImageAndText.astro
  src/layouts/BaseLayout.astro
  src/modules/search/SearchBar.astro
  src/modules/search/SearchBar.module.css
  src/modules/search/SearchBar.tsx
  src/modules/search/components/SearchButton.astro
  src/modules/search/components/SearchButton.module.css
  src/modules/search/components/SearchInput.astro
  src/modules/search/components/SearchInput.module.css
  src/modules/search/components/SearchModal.astro
  src/modules/search/components/SearchModal.module.css
  src/modules/search/components/SearchResults.astro
  src/modules/search/components/SearchResults.module.css
  src/modules/search/services/pagefindService.ts
  src/modules/search/types.ts
  tsconfig.json
Due: stylelint --fix, eslint --fix, prettier --write

.
  openspec/changes/add-dark-theme/.openspec.yaml
  openspec/changes/add-dark-theme/design.md
  openspec/changes/add-dark-theme/proposal.md
  openspec/changes/add-dark-theme/specs/theme/spec.md
  openspec/changes/add-dark-theme/tasks.md
  src/components/Header.astro
  src/components/Header.module.css
  src/components/Hero.astro
  src/layouts/BaseLayout.astro
  src/modules/theme/components/ThemeIcon.tsx
  src/modules/theme/constants.ts
  src/modules/theme/hooks/useTheme.ts
  src/modules/theme/index.ts
  src/modules/theme/services/themeStorage.ts
  src/modules/theme/types.ts
  src/modules/theme/views/ThemeToggle.module.css
  src/modules/theme/views/ThemeToggle.tsx
  src/styles/global.css
Due: stylelint --fix, eslint --fix, prettier --write

Archive 5 completed OpenSpec changes
  openspec/changes/archive/2026-02-01-add-dark-theme/.openspec.yaml
  openspec/changes/archive/2026-02-01-add-dark-theme/design.md
  openspec/changes/archive/2026-02-01-add-dark-theme/proposal.md
  openspec/changes/archive/2026-02-01-add-dark-theme/specs/theme/spec.md
  openspec/changes/archive/2026-02-01-add-dark-theme/tasks.md
  openspec/changes/archive/2026-02-01-add-existing-blogs/.openspec.yaml
  openspec/changes/archive/2026-02-01-add-existing-blogs/design.md
  openspec/changes/archive/2026-02-01-add-existing-blogs/proposal.md
  openspec/changes/archive/2026-02-01-add-existing-blogs/specs/blog-content/spec.md
  openspec/changes/archive/2026-02-01-add-existing-blogs/tasks.md
  openspec/changes/archive/2026-02-01-add-pagefind-search/.openspec.yaml
  openspec/changes/archive/2026-02-01-add-pagefind-search/design.md
  openspec/changes/archive/2026-02-01-add-pagefind-search/proposal.md
  openspec/changes/archive/2026-02-01-add-pagefind-search/specs/search/spec.md
  openspec/changes/archive/2026-02-01-add-pagefind-search/tasks.md
  openspec/changes/archive/2026-02-01-refactor-to-modules/design.md
  openspec/changes/archive/2026-02-01-refactor-to-modules/proposal.md
  openspec/changes/archive/2026-02-01-refactor-to-modules/specs/module-structure/spec.md
  openspec/changes/archive/2026-02-01-refactor-to-modules/tasks.md
  openspec/changes/archive/2026-02-01-update-design/.openspec.yaml
  openspec/changes/archive/2026-02-01-update-design/design.md
  openspec/changes/archive/2026-02-01-update-design/proposal.md
  openspec/changes/archive/2026-02-01-update-design/specs/styling/spec.md
  openspec/changes/archive/2026-02-01-update-design/tasks.md
  openspec/changes/feedback-log.json
  openspec/specs/astro-conventions/spec.md
Due: prettier --write

Redesign portfolio: skills tag cloud, timeline, blog filtering
  openspec/changes/redesign-portfolio/design.md
  openspec/changes/redesign-portfolio/proposal.md
  openspec/changes/redesign-portfolio/specs/skill-tags/spec.md
  openspec/changes/redesign-portfolio/specs/timeline/spec.md
  openspec/changes/redesign-portfolio/tasks.md
  src/components/BlogFilter.module.css
  src/components/BlogFilter.tsx
  src/components/Categories.astro
  src/components/Categories.module.css
  src/components/Experience.module.css
  src/components/Experience.tsx
  src/components/FeaturedPosts.astro
  src/components/Hero.astro
  src/components/ImageSection.astro
  src/components/ImageSection.module.css
  src/components/SkillSection.tsx
  src/components/SkillTags.astro
  src/components/SkillTags.module.css
  src/components/Skills.module.css
  src/components/Skills.tsx
  src/components/Timeline.astro
  src/components/Timeline.module.css
  src/components/TimelineItem.astro
  src/components/TimelineItem.module.css
  src/pages/about.astro
  src/pages/blog/index.astro
  src/pages/skills.astro
Due: stylelint --fix, eslint --fix, prettier --write

Fix missing spacing between content and footer on blog pages
  src/components/BlogFilter.module.css
  src/pages/blog/[slug].astro
Due: stylelint --fix, eslint --fix, prettier --write

Fix header mobile layout: DT logo, icon nav, consistent sizing
  src/components/Header.astro
  src/components/Header.module.css
  src/components/Navigation.astro
  src/components/Navigation.module.css
  src/modules/search/SearchBar.module.css
Due: stylelint --fix, eslint --fix, prettier --write

Fix social icons alignment: center on mobile, left on desktop
  src/components/Hero.module.css
Due: stylelint --fix, prettier --write

Restructure codebase to DDD module conventions
  openspec/changes/archive/2026-02-04-restructure-ddd-conventions/.openspec.yaml
  openspec/changes/archive/2026-02-04-restructure-ddd-conventions/design.md
  openspec/changes/archive/2026-02-04-restructure-ddd-conventions/proposal.md
  openspec/changes/archive/2026-02-04-restructure-ddd-conventions/specs/blog-module/spec.md
  openspec/changes/archive/2026-02-04-restructure-ddd-conventions/specs/portfolio-module/spec.md
  openspec/changes/archive/2026-02-04-restructure-ddd-conventions/tasks.md
  openspec/specs/blog-module/spec.md
  openspec/specs/portfolio-module/spec.md
  src/components/AuthorCard.astro
  src/modules/blog/components/AuthorCard.astro
  src/modules/blog/components/AuthorCard.module.css
  src/modules/blog/components/BlogFilter.module.css
  src/modules/blog/components/BlogFilter.tsx
  src/modules/blog/components/BlogHeader.astro
  src/modules/blog/components/BlogHeader.module.css
  src/modules/blog/components/BlogPostItem.astro
  src/modules/blog/components/BlogPostItem.module.css
  src/modules/blog/components/FeaturedPosts.astro
  src/modules/blog/components/FeaturedPosts.module.css
  src/modules/blog/views/BlogListView.astro
  src/modules/portfolio/components/SkillTags.astro
  src/modules/portfolio/components/SkillTags.module.css
  src/modules/portfolio/components/Timeline.astro
  src/modules/portfolio/components/Timeline.module.css
  src/modules/portfolio/components/TimelineItem.astro
  src/modules/portfolio/components/TimelineItem.module.css
  src/modules/portfolio/views/PortfolioSection.astro
  src/pages/blog/[slug].astro
  src/pages/index.astro
  src/pages/skills.astro
Due: stylelint --fix, eslint --fix, prettier --write

Fix Hero button alignment: remove negative margin-left on actions
  src/components/Hero.module.css
Due: stylelint --fix, prettier --write

add fast-follow OpenSpec change proposals
  openspec/changes/align-skill-blog-taxonomy/.openspec.yaml
  openspec/changes/align-skill-blog-taxonomy/proposal.md
  openspec/changes/blog-ux-improvements/.openspec.yaml
  openspec/changes/blog-ux-improvements/design.md
  openspec/changes/blog-ux-improvements/proposal.md
  openspec/changes/blog-ux-improvements/specs/blog-module/spec.md
  openspec/changes/blog-ux-improvements/specs/blog-post-engagement/spec.md
  openspec/changes/blog-ux-improvements/tasks.md
  openspec/changes/dark-mode-accessibility/.openspec.yaml
  openspec/changes/dark-mode-accessibility/design.md
  openspec/changes/dark-mode-accessibility/proposal.md
  openspec/changes/dark-mode-accessibility/specs/portfolio-module/spec.md
  openspec/changes/dark-mode-accessibility/specs/styling/spec.md
  openspec/changes/dark-mode-accessibility/tasks.md
  openspec/changes/fix-content-asset-integrity/.openspec.yaml
  openspec/changes/fix-content-asset-integrity/proposal.md
  openspec/changes/navigation-cta-fixes/.openspec.yaml
  openspec/changes/navigation-cta-fixes/design.md
  openspec/changes/navigation-cta-fixes/proposal.md
  openspec/changes/navigation-cta-fixes/specs/blog-module/spec.md
  openspec/changes/navigation-cta-fixes/specs/page-navigation/spec.md
  openspec/changes/navigation-cta-fixes/tasks.md
  openspec/changes/optimize-header-hydration/.openspec.yaml
  openspec/changes/optimize-header-hydration/proposal.md
  openspec/changes/seo-infrastructure/.openspec.yaml
  openspec/changes/seo-infrastructure/design.md
  openspec/changes/seo-infrastructure/proposal.md
  openspec/changes/seo-infrastructure/specs/blog-module/spec.md
  openspec/changes/seo-infrastructure/specs/rss-feed/spec.md
  openspec/changes/seo-infrastructure/specs/seo-metadata/spec.md
  openspec/changes/seo-infrastructure/tasks.md
Due: prettier --write

implement dark-mode accessibility and archive change
  openspec/changes/archive/2026-02-11-dark-mode-accessibility/.openspec.yaml
  openspec/changes/archive/2026-02-11-dark-mode-accessibility/design.md
  openspec/changes/archive/2026-02-11-dark-mode-accessibility/proposal.md
  openspec/changes/archive/2026-02-11-dark-mode-accessibility/specs/portfolio-module/spec.md
  openspec/changes/archive/2026-02-11-dark-mode-accessibility/specs/styling/spec.md
  openspec/changes/archive/2026-02-11-dark-mode-accessibility/tasks.md
  openspec/changes/dark-mode-accessibility/tasks.md
  src/components/Navigation.astro
  src/components/SocialIcons.astro
  src/modules/portfolio/components/TimelineItem.astro
  src/modules/portfolio/components/TimelineItem.module.css
  src/modules/search/SearchBar.module.css
  src/modules/search/SearchBar.tsx
  src/styles/global.css
Due: stylelint --fix, eslint --fix, prettier --write

feat: add SEO metadata defaults and archive seo-infrastructure
  openspec/changes/archive/2026-02-14-seo-infrastructure/.openspec.yaml
  openspec/changes/archive/2026-02-14-seo-infrastructure/design.md
  openspec/changes/archive/2026-02-14-seo-infrastructure/proposal.md
  openspec/changes/archive/2026-02-14-seo-infrastructure/specs/blog-module/spec.md
  openspec/changes/archive/2026-02-14-seo-infrastructure/specs/rss-feed/spec.md
  openspec/changes/archive/2026-02-14-seo-infrastructure/specs/seo-metadata/spec.md
  openspec/changes/archive/2026-02-14-seo-infrastructure/tasks.md
  openspec/changes/seo-infrastructure/tasks.md
  package.json
  public/og-default.png
  public/robots.txt
  scripts/generate-og-default.swift
  src/layouts/BaseLayout.astro
  src/pages/blog/[slug].astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

fix: align author card links and archive asset-integrity change
  openspec/changes/archive/2026-02-14-fix-content-asset-integrity/.openspec.yaml
  openspec/changes/archive/2026-02-14-fix-content-asset-integrity/design.md
  openspec/changes/archive/2026-02-14-fix-content-asset-integrity/proposal.md
  openspec/changes/archive/2026-02-14-fix-content-asset-integrity/specs/blog-module/spec.md
  openspec/changes/archive/2026-02-14-fix-content-asset-integrity/specs/content-asset-integrity/spec.md
  openspec/changes/archive/2026-02-14-fix-content-asset-integrity/tasks.md
  public/images/avatar-fallback.svg
  public/images/dusan.png
  src/modules/blog/components/AuthorCard.astro
  src/modules/blog/components/AuthorCard.module.css
Due: stylelint --fix, eslint --fix, prettier --write

docs(openspec): clean stale change status and refine ux specs
  openspec/changes/add-og-images/proposal.md
  openspec/changes/align-skill-blog-taxonomy/proposal.md
  openspec/changes/blog-ux-improvements/design.md
  openspec/changes/blog-ux-improvements/proposal.md
  openspec/changes/blog-ux-improvements/specs/blog-module/spec.md
  openspec/changes/blog-ux-improvements/specs/blog-post-engagement/spec.md
  openspec/changes/blog-ux-improvements/tasks.md
  openspec/changes/dark-light-theme/proposal.md
  openspec/changes/migrate-to-astro/proposal.md
  openspec/changes/migrate-to-astro/tasks.md
  openspec/changes/navigation-cta-fixes/design.md
  openspec/changes/navigation-cta-fixes/proposal.md
  openspec/changes/navigation-cta-fixes/specs/page-navigation/spec.md
  openspec/changes/navigation-cta-fixes/tasks.md
  openspec/changes/optimize-header-hydration/proposal.md
  openspec/changes/redesign-portfolio/design.md
  openspec/changes/redesign-portfolio/proposal.md
  openspec/changes/redesign-portfolio/tasks.md
  openspec/changes/setup-deployment/proposal.md
Due: prettier --write

feat(blog): implement post engagement ux improvements
  openspec/changes/blog-ux-improvements/tasks.md
  src/modules/blog/components/BlogHeader.astro
  src/modules/blog/components/BlogHeader.module.css
  src/modules/blog/components/BlogPostItem.astro
  src/modules/blog/components/BlogPostItem.module.css
  src/modules/blog/components/PostNavigation.astro
  src/modules/blog/components/PostNavigation.module.css
  src/modules/blog/components/RelatedPosts.astro
  src/modules/blog/components/RelatedPosts.module.css
  src/modules/blog/components/SocialShare.astro
  src/modules/blog/components/SocialShare.module.css
  src/pages/blog/[slug].astro
Due: stylelint --fix, eslint --fix, prettier --write

refactor(blog): unify tag rendering and update project guardrails
  AGENTS.md
  CLAUDE.md
  openspec/changes/redesign-portfolio/specs/skill-tags/spec.md
  openspec/specs/portfolio-module/spec.md
  src/modules/blog/components/BlogFilter.module.css
  src/modules/blog/components/BlogFilter.tsx
  src/modules/blog/components/BlogHeader.astro
  src/modules/blog/components/BlogHeader.module.css
  src/modules/blog/components/BlogPostItem.astro
  src/modules/blog/components/BlogPostItem.module.css
  src/modules/blog/components/FeaturedPosts.module.css
  src/modules/blog/components/TagList.module.css
  src/modules/blog/components/TagList.tsx
  src/modules/portfolio/components/SkillTags.astro
  src/modules/portfolio/components/SkillTags.module.css
Due: stylelint --fix, eslint --fix, prettier --write

refactor(ui): unify post cards and simplify skills presentation
  AGENTS.md
  CLAUDE.md
  openspec/specs/open-proposals/spec.md
  src/modules/blog/components/BlogFilter.module.css
  src/modules/blog/components/BlogFilter.tsx
  src/modules/blog/components/BlogPostItem.astro
  src/modules/blog/components/PostCard.module.css
  src/modules/blog/components/PostCard.tsx
  src/modules/portfolio/components/SkillTags.astro
  src/modules/portfolio/components/SkillTags.module.css
Due: stylelint --fix, eslint --fix, prettier --write

fix(blog,portfolio): preserve tag query filters and improve timeline date clarity
  src/modules/blog/components/BlogFilter.tsx
  src/modules/portfolio/components/Timeline.astro
  src/modules/portfolio/components/Timeline.module.css
  src/modules/portfolio/components/TimelineItem.astro
  src/modules/portfolio/components/TimelineItem.module.css
Due: stylelint --fix, eslint --fix, prettier --write

refactor portfolio timeline service and update skills
  src/modules/portfolio/components/SkillTags.astro
  src/modules/portfolio/components/Timeline.astro
  src/modules/portfolio/services/experiences.ts
Due: eslint --fix, prettier --write

refactor lint architecture and module services
  .prettierrc
  astro.config.mjs
  eslint.config.js
  eslint/base.js
  eslint/eslintConfig.js
  eslint/helpers.js
  eslint/imports.js
  eslint/json.js
  eslint/react.js
  eslint/typescript.js
  package-lock.json
  package.json
  src/content/config.ts
  src/layouts/BaseLayout.astro
  src/modules/blog/components/BlogFilter.tsx
  src/modules/blog/components/PostCard.tsx
  src/modules/blog/components/SocialShare.astro
  src/modules/blog/components/TagList.tsx
  src/modules/portfolio/services/experiences.ts
  src/modules/search/SearchBar.tsx
  src/modules/theme/components/ThemeIcon.tsx
  src/modules/theme/constants.ts
  src/modules/theme/hooks/useTheme.ts
  src/modules/theme/index.ts
  src/modules/theme/services/themeStorage.ts
  src/modules/theme/types.ts
  src/modules/theme/views/ThemeToggle.tsx
Due: eslint --fix, prettier --write

chore: remove claude file and sync requirement
  AGENTS.md
  CLAUDE.md
Due: prettier --write

docs: consolidate workflow guidance and deprecate theme hooks folder
  AGENTS.md
  README.md
  documentation/README.md
  documentation/architecture-conventions.md
  documentation/engineering-workflow.md
  documentation/modules-and-services.md
  documentation/validation-and-quality-gates.md
  openspec/changes/add-engineering-documentation-guidelines/.openspec.yaml
  openspec/changes/add-engineering-documentation-guidelines/design.md
  openspec/changes/add-engineering-documentation-guidelines/proposal.md
  openspec/changes/add-engineering-documentation-guidelines/tasks.md
  openspec/specs/astro-conventions/spec.md
  openspec/specs/open-proposals/spec.md
  src/modules/theme/services/useTheme.ts
  src/modules/theme/views/ThemeToggle.tsx
Due: eslint --fix, prettier --write

spec: add launch prep proposal for blog sync and deployment
  openspec/changes/sync-live-blog-and-prepare-deploy/.openspec.yaml
  openspec/changes/sync-live-blog-and-prepare-deploy/design.md
  openspec/changes/sync-live-blog-and-prepare-deploy/proposal.md
  openspec/changes/sync-live-blog-and-prepare-deploy/tasks.md
  openspec/specs/open-proposals/spec.md
Due: prettier --write

feat(blog): exclude prev/next from related posts
  src/modules/blog/components/RelatedPosts.astro
  src/pages/blog/[slug].astro
Due: eslint --fix, prettier --write

chore(openspec): archive completed changes and sync tracker
  openspec/changes/archive/2026-02-16-add-engineering-documentation-guidelines/.openspec.yaml
  openspec/changes/archive/2026-02-16-add-engineering-documentation-guidelines/design.md
  openspec/changes/archive/2026-02-16-add-engineering-documentation-guidelines/proposal.md
  openspec/changes/archive/2026-02-16-add-engineering-documentation-guidelines/tasks.md
  openspec/changes/archive/2026-02-16-sync-live-blog-and-prepare-deploy/.openspec.yaml
  openspec/changes/archive/2026-02-16-sync-live-blog-and-prepare-deploy/content-parity.md
  openspec/changes/archive/2026-02-16-sync-live-blog-and-prepare-deploy/design.md
  openspec/changes/archive/2026-02-16-sync-live-blog-and-prepare-deploy/ga4-continuity-plan.md
  openspec/changes/archive/2026-02-16-sync-live-blog-and-prepare-deploy/proposal.md
  openspec/changes/archive/2026-02-16-sync-live-blog-and-prepare-deploy/seo-metadata-matrix.md
  openspec/changes/archive/2026-02-16-sync-live-blog-and-prepare-deploy/tasks.md
  openspec/specs/open-proposals/spec.md
Due: prettier --write

fix(blog-og): align generated cards with default template
  public/og/blog/burnout-in-software-engineering.svg
  public/og/blog/spec-driven-development-with-openspec.svg
  public/og/blog/unlocking-opportunities-why-conferences-matter.svg
  public/og/blog/welcome.svg
  scripts/generate-og-blog.mjs
Due: none

feat(branding): broaden positioning and sync current role copy
  public/og-default.png
  scripts/generate-og-default.swift
  src/components/Hero.astro
  src/modules/blog/components/AuthorCard.astro
  src/modules/portfolio/services/experiences.ts
  src/pages/about.astro
  src/pages/index.astro
  src/pages/skills.astro
Due: eslint --fix, prettier --write

feat(blog): enforce strict related posts and archive proposal
  openspec/changes/archive/2026-02-16-strict-related-posts/.openspec.yaml
  openspec/changes/archive/2026-02-16-strict-related-posts/design.md
  openspec/changes/archive/2026-02-16-strict-related-posts/proposal.md
  openspec/changes/archive/2026-02-16-strict-related-posts/tasks.md
  openspec/changes/govern-blog-tags/.openspec.yaml
  openspec/changes/govern-blog-tags/design.md
  openspec/changes/govern-blog-tags/proposal.md
  openspec/changes/govern-blog-tags/tasks.md
  openspec/specs/open-proposals/spec.md
  src/modules/blog/components/RelatedPosts.astro
Due: eslint --fix, prettier --write

feat(blog): centralize draft handling and archive blog ux spec
  openspec/changes/archive/2026-02-16-blog-ux-improvements/.openspec.yaml
  openspec/changes/archive/2026-02-16-blog-ux-improvements/design.md
  openspec/changes/archive/2026-02-16-blog-ux-improvements/proposal.md
  openspec/changes/archive/2026-02-16-blog-ux-improvements/specs/blog-module/spec.md
  openspec/changes/archive/2026-02-16-blog-ux-improvements/specs/blog-post-engagement/spec.md
  openspec/changes/archive/2026-02-16-blog-ux-improvements/tasks.md
  openspec/specs/open-proposals/spec.md
  src/modules/blog/components/BlogFilter.tsx
  src/modules/blog/components/BlogHeader.astro
  src/modules/blog/components/BlogHeader.module.css
  src/modules/blog/components/BlogPostItem.astro
  src/modules/blog/components/PostCard.module.css
  src/modules/blog/components/PostCard.tsx
  src/modules/blog/services/blogPosts.ts
  src/modules/blog/views/BlogListView.astro
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
Due: stylelint --fix, eslint --fix, prettier --write

chore(branding): replace favicon with orange DT monogram
  public/favicon.svg
Due: none

Refine about page storytelling, photos, and blog header summaries
  openspec/changes/sync-live-about-parity/.openspec.yaml
  openspec/changes/sync-live-about-parity/design.md
  openspec/changes/sync-live-about-parity/proposal.md
  openspec/changes/sync-live-about-parity/specs/portfolio-module/spec.md
  openspec/changes/sync-live-about-parity/tasks.md
  openspec/specs/open-proposals/spec.md
  public/images/dusan-beach.jpeg
  public/images/dusan-walking.jpeg
  public/images/dusan-with-a-helmet.jpeg
  src/modules/blog/components/BlogHeader.astro
  src/modules/blog/components/BlogHeader.module.css
  src/pages/about.astro
  src/pages/index.astro
Due: stylelint --fix, eslint --fix, prettier --write

feat: improve page wayfinding and archive navigation cta change
  openspec/changes/archive/2026-02-17-navigation-cta-fixes/.openspec.yaml
  openspec/changes/archive/2026-02-17-navigation-cta-fixes/design.md
  openspec/changes/archive/2026-02-17-navigation-cta-fixes/proposal.md
  openspec/changes/archive/2026-02-17-navigation-cta-fixes/specs/blog-module/spec.md
  openspec/changes/archive/2026-02-17-navigation-cta-fixes/specs/page-navigation/spec.md
  openspec/changes/archive/2026-02-17-navigation-cta-fixes/tasks.md
  openspec/changes/navigation-cta-fixes/proposal.md
  openspec/changes/navigation-cta-fixes/tasks.md
  openspec/specs/open-proposals/spec.md
  src/pages/404.astro
  src/pages/skills.astro
Due: eslint --fix, prettier --write

feat: govern blog tags and improve blog filter UX
  AGENTS.md
  documentation/blog-authoring-workflow.md
  openspec/changes/archive/2026-02-17-govern-blog-tags/.openspec.yaml
  openspec/changes/archive/2026-02-17-govern-blog-tags/design.md
  openspec/changes/archive/2026-02-17-govern-blog-tags/proposal.md
  openspec/changes/archive/2026-02-17-govern-blog-tags/specs/blog-authoring-workflow/spec.md
  openspec/changes/archive/2026-02-17-govern-blog-tags/specs/blog-module/spec.md
  openspec/changes/archive/2026-02-17-govern-blog-tags/specs/blog-tag-governance/spec.md
  openspec/changes/archive/2026-02-17-govern-blog-tags/tasks.md
  openspec/changes/govern-blog-tags/tasks.md
  openspec/specs/open-proposals/spec.md
  src/modules/blog/components/BlogFilter.module.css
  src/modules/blog/components/BlogFilter.tsx
  src/modules/blog/services/blogFilter.ts
  src/modules/blog/services/blogPosts.ts
  src/modules/blog/services/blogTags.ts
  src/modules/blog/views/BlogListView.astro
  src/pages/blog/index.astro
Due: stylelint --fix, eslint --fix, prettier --write

chore(openspec): archive sync-live-about-parity change
  openspec/changes/archive/2026-02-17-sync-live-about-parity/.openspec.yaml
  openspec/changes/archive/2026-02-17-sync-live-about-parity/design.md
  openspec/changes/archive/2026-02-17-sync-live-about-parity/proposal.md
  openspec/changes/archive/2026-02-17-sync-live-about-parity/specs/portfolio-module/spec.md
  openspec/changes/archive/2026-02-17-sync-live-about-parity/tasks.md
  openspec/specs/open-proposals/spec.md
Due: prettier --write

chore(openspec): archive add-og-images proposal
  openspec/changes/archive/2026-02-17-add-og-images/.openspec.yaml
  openspec/changes/archive/2026-02-17-add-og-images/proposal.md
  openspec/specs/open-proposals/spec.md
Due: prettier --write
